.jumbotron{
    background-color: whitesmoke;   
    color: black;
    margin-top: 50px;

}

footer{
    padding: 10px 10px 0 10px;
    background-color: whitesmoke;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 200px;
    /* padding: 2px 5px 2px 5px; */
    margin-top: 20px;

}

.btn-reserva{
    width:100%;
}

.footer-address-icon{
    padding-right: 10px;
}


/* .imagen-agenda{
    align-items: center;
    width: 50%;
    height: 300;
} */
